# Extended event studies examples

In [1]:
# Add BipartitePandas to system path, do not run this
# import sys
# sys.path.append('../../..')

In [2]:
# Import the BipartitePandas package 
# (Make sure you have installed it using pip install bipartitepandas)
import bipartitepandas as bpd

In [3]:
# For the example, we simulate bipartite labor data
sim_data = bpd.SimBipartite().sim_network()[['i', 'j', 'y', 't']]
bdf = bpd.BipartiteLong(sim_data)
bdf = bdf.clean_data()
display(bdf)

          i    j         y  t
0         0    3 -2.806575  1
1         0    3 -3.842440  2
2         0    3 -1.572163  3
3         0    3 -2.922129  4
4         0    3 -0.554603  5
...     ...  ...       ... ..
49995  9999   75 -1.227480  1
49996  9999   75 -0.877838  2
49997  9999   62  1.810086  3
49998  9999   84  0.769971  4
49999  9999  111  1.354007  5

[50000 rows x 4 columns]

### Getting extended event studies

In [4]:
# BipartitePandas allows you to use clustered long data to generate event studies with more than 2 periods
sim_data = bpd.SimBipartite().sim_network()[['i', 'j', 'y', 't']]
bdf = bpd.BipartiteLong(sim_data)
bdf = bdf.clean_data()
bdf = bdf.cluster()
es_extended = bdf.get_es_extended(periods_pre=3, periods_post=2) # periods_post includes the first period after the transition
display(es_extended)

,i,t,g_l3,g_l2,g_l1,g_f1,g_f2,y_l3,y_l2,y_l1,y_f1,y_f2
0,0,4,0,7,5,5,5,2.496335,-0.065177,1.365479,2.834638,1.034381
1,1,4,1,6,1,4,7,0.576383,0.024017,-0.466648,-0.448871,1.502871
2,6,4,6,6,1,4,4,0.535413,-0.334733,-0.694596,-0.101790,-0.921817
3,7,4,2,2,2,4,2,-1.979369,-1.017353,-0.672077,0.606790,-2.180112
4,8,4,0,5,3,0,0,1.509068,2.467804,2.311848,3.868104,0.027801
...,...,...,...,...,...,...,...,...,...,...,...,...
4994,9984,4,7,7,5,1,6,2.457762,2.283403,2.933302,-1.668067,-0.209853
4995,9992,4,7,7,6,4,2,1.509290,0.146393,0.680051,-0.915013,-0.339272
4996,9995,4,2,2,2,6,2,-1.006058,-3.217255,1.040823,-1.123648,-1.669918
4997,9997,4,0,0,0,1,1,2.666644,-0.496655,1.226539,0.138735,-1.491135
4998,9999,4,7,6,6,6,6,2.446383,2.005260,1.963023,-0.425990,0.011920

In [5]:
# You can specify which columns to include (by default they are g and y)
es_extended = bdf.get_es_extended(periods_pre=3, periods_post=2, include=['j', 'y'])
display(es_extended)

,i,t,j_l3,j_l2,j_l1,j_f1,j_f2,y_l3,y_l2,y_l1,y_f1,y_f2
0,0,4,154,130,185,191,191,2.496335,-0.065177,1.365479,2.834638,1.034381
1,1,4,51,80,48,23,129,0.576383,0.024017,-0.466648,-0.448871,1.502871
2,6,4,91,91,52,35,35,0.535413,-0.334733,-0.694596,-0.101790,-0.921817
3,7,4,3,3,3,30,2,-1.979369,-1.017353,-0.672077,0.606790,-2.180112
4,8,4,161,172,109,164,147,1.509068,2.467804,2.311848,3.868104,0.027801
...,...,...,...,...,...,...,...,...,...,...,...,...
4994,9984,4,134,134,195,48,87,2.457762,2.283403,2.933302,-1.668067,-0.209853
4995,9992,4,140,134,88,25,4,1.509290,0.146393,0.680051,-0.915013,-0.339272
4996,9995,4,1,1,1,62,5,-1.006058,-3.217255,1.040823,-1.123648,-1.669918
4997,9997,4,146,146,167,54,54,2.666644,-0.496655,1.226539,0.138735,-1.491135
4998,9999,4,125,76,76,88,88,2.446383,2.005260,1.963023,-0.425990,0.011920

In [6]:
# You can specify column(s) for stable_pre or stable_post to keep only workers with those columns constant before/after the transition
es_extended = bdf.get_es_extended(periods_pre=3, periods_post=2, stable_pre='j', stable_post='j', include=['j', 'y'])
display(es_extended)

,i,t,j_l3,j_l2,j_l1,j_f1,j_f2,y_l3,y_l2,y_l1,y_f1,y_f2
0,18,4,11,11,11,155,155,0.326832,-0.999541,-0.909361,0.517999,2.673976
1,37,4,137,137,137,168,168,-0.205978,2.820705,0.953906,1.185293,1.999615
2,48,4,142,142,142,152,152,-0.039926,0.892597,0.065112,1.668252,0.572283
3,67,4,176,176,176,177,177,3.090770,2.083315,2.982263,2.498576,1.977248
4,75,4,174,174,174,169,169,2.827767,2.903779,2.308985,1.566068,2.707745
...,...,...,...,...,...,...,...,...,...,...,...,...
612,9935,4,124,124,124,135,135,3.294074,1.951173,2.055721,0.096840,1.943903
613,9940,4,35,35,35,96,96,-1.723327,0.731783,0.084936,-0.616038,-0.803942
614,9941,4,175,175,175,147,147,1.872687,2.938824,3.515129,3.275574,2.076824
615,9957,4,193,193,193,47,47,4.370423,2.132575,2.190394,0.718643,-1.022840
616,9982,4,118,118,118,175,175,2.751024,1.963643,0.488862,1.230438,2.102940

In [7]:
# You can specify column(s) for stable_pre or stable_post that aren't included
es_extended = bdf.get_es_extended(periods_pre=3, periods_post=2, stable_pre='g', stable_post='g', include=['j', 'y'])
display(es_extended)

,i,t,j_l3,j_l2,j_l1,j_f1,j_f2,y_l3,y_l2,y_l1,y_f1,y_f2
0,18,4,11,11,11,155,155,0.326832,-0.999541,-0.909361,0.517999,2.673976
1,26,4,136,136,136,11,3,0.986112,-1.896174,1.657616,-1.409876,-1.106224
2,28,4,185,187,187,162,162,1.856022,2.447235,0.992200,0.408909,0.726800
3,37,4,137,137,137,168,168,-0.205978,2.820705,0.953906,1.185293,1.999615
4,39,4,28,28,19,11,11,-0.819901,0.782353,-0.557855,-2.114035,-1.151110
...,...,...,...,...,...,...,...,...,...,...,...,...
1111,9957,4,193,193,193,47,47,4.370423,2.132575,2.190394,0.718643,-1.022840
1112,9959,4,171,174,176,180,180,2.358008,1.371694,0.850438,2.116476,0.022021
1113,9977,4,136,138,138,127,127,-0.544658,1.501898,-1.163630,3.408045,0.392417
1114,9982,4,118,118,118,175,175,2.751024,1.963643,0.488862,1.230438,2.102940
1115,9997,4,146,146,167,54,54,2.666644,-0.496655,1.226539,0.138735,-1.491135

In [8]:
# You can also redefine what column to use to define a transition
es_extended = bdf.get_es_extended(periods_pre=3, periods_post=2, stable_pre='g', stable_post='j', include=['j', 'g', 'y'], transition_col='g')
display(es_extended)
display(es_extended[es_extended['j_l3'] != es_extended['j_l2']])

,i,t,j_l3,j_l2,j_l1,j_f1,j_f2,g_l3,g_l2,g_l1,g_f1,g_f2,y_l3,y_l2,y_l1,y_f1,y_f2
0,18,4,11,11,11,155,155,2,2,2,0,0,0.326832,-0.999541,-0.909361,0.517999,2.673976
1,28,4,185,187,187,162,162,5,5,5,0,0,1.856022,2.447235,0.992200,0.408909,0.726800
2,37,4,137,137,137,168,168,7,7,7,0,0,-0.205978,2.820705,0.953906,1.185293,1.999615
3,39,4,28,28,19,11,11,4,4,4,2,2,-0.819901,0.782353,-0.557855,-2.114035,-1.151110
4,48,4,142,142,142,152,152,7,7,7,0,0,-0.039926,0.892597,0.065112,1.668252,0.572283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,9940,4,35,35,35,96,96,4,4,4,6,6,-1.723327,0.731783,0.084936,-0.616038,-0.803942
742,9941,4,175,175,175,147,147,5,5,5,0,0,1.872687,2.938824,3.515129,3.275574,2.076824
743,9957,4,193,193,193,47,47,5,5,5,1,1,4.370423,2.132575,2.190394,0.718643,-1.022840
744,9982,4,118,118,118,175,175,3,3,3,5,5,2.751024,1.963643,0.488862,1.230438,2.102940
745,9997,4,146,146,167,54,54,0,0,0,1,1,2.666644,-0.496655,1.226539,0.138735,-1.491135

,i,t,j_l3,j_l2,j_l1,j_f1,j_f2,g_l3,g_l2,g_l1,g_f1,g_f2,y_l3,y_l2,y_l1,y_f1,y_f2
1,28,4,185,187,187,162,162,5,5,5,0,0,1.856022,2.447235,0.992200,0.408909,0.726800
9,120,4,184,194,192,146,146,5,5,5,0,0,2.383522,2.908327,2.265619,1.138073,1.386433
16,218,4,119,83,83,160,160,3,3,3,0,0,-0.386761,0.722651,-0.193485,1.769580,1.538643
17,237,4,105,109,109,86,86,3,3,3,6,6,1.051749,1.987920,1.352936,-0.244268,1.316758
18,275,4,102,119,119,43,43,3,3,3,4,4,-0.099788,-0.598228,1.494740,0.920043,1.726975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,9496,4,156,166,166,102,102,0,0,0,3,3,0.543123,1.684040,0.194094,0.350961,-0.693308
714,9575,4,83,112,112,135,135,3,3,3,7,7,-0.331179,-0.575859,-0.103449,1.371163,0.278334
716,9639,4,90,99,99,7,7,6,6,6,2,2,2.940083,1.481685,0.367732,-1.952994,-2.282449
726,9749,4,16,32,32,115,115,4,4,4,3,3,0.021461,-0.188772,3.374553,-0.220659,-0.004971
739,9898,4,189,173,173,85,85,5,5,5,6,6,-0.252357,0.957501,2.410769,-0.670028,-1.646653