# Simple example

In [1]:
# Add BipartitePandas to system path, do not run this
import sys
sys.path.append('../../..')

## Import the BipartitePandas Package

Make sure to install it using `pip install bipartitepandas`

In [2]:
import bipartitepandas as bpd

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

## Get your data ready

In this example, we simulate data (we set parameters to make data cleaning interesting)

In [3]:
df = bpd.SimBipartite(bpd.sim_params({'firm_size': 10, 'p_move': 0.05})).simulate()
display(df)

          i    j         y  t  l  k     alpha       psi
0         0   63 -0.618350  0  2  0  0.000000 -1.335178
1         0   63 -1.811602  1  2  0  0.000000 -1.335178
2         0   63 -1.750508  2  2  0  0.000000 -1.335178
3         0   63 -0.021734  3  2  0  0.000000 -1.335178
4         0   63 -1.753123  4  2  0  0.000000 -1.335178
...     ...  ...       ... .. .. ..       ...       ...
49995  9999  361 -0.263988  0  1  3 -0.430727 -0.348756
49996  9999  361 -0.472704  1  1  3 -0.430727 -0.348756
49997  9999  361  0.518493  2  1  3 -0.430727 -0.348756
49998  9999  361 -1.102591  3  1  3 -0.430727 -0.348756
49999  9999  361 -1.553183  4  1  3 -0.430727 -0.348756

[50000 rows x 8 columns]

## Columns

BipartitePandas includes 5 pre-defined general columns:

#### Required
- $i$: worker id (any type)
- $j$: firm id (any type)
- $y$: income (float or int)

#### Optional
- $t$: time (int)
- $g$: firm type (any type)
- $w$: weight (float or int)
- $m$: move indicator (int)

## Formats

BipartitePandas includes 4 formats:
- *Long* - each row gives a single observation
- *Collapsed Long* - like *Long*, but employment spells at the same firm are collapsed into a single observation
- *Event Study* - each row gives two consecutive observations
- *Collapsed Event Study* - like *Event Study*, but employment spells at the same firm are collapsed into a single observation

These formats divide general columns differently:
- *Long* - $i$, $j$, $y$, $t$, $g$, $w$, $m$
- *Collapsed Long* - $i$, $j$, $y$, $t1$, $t2$, $g$, $w$, $m$
- *Event Study* - $i$, $j1$, $j2$, $y1$, $y2$, $t1$, $t2$, $g1$, $g2$, $w1$, $w2$, $m$
- *Collapsed Event Study* - $i$, $j1$, $j2$, $y1$, $y2$, $t11$, $t12$, $t21$, $t22$, $g1$, $g2$, $w1$, $w2$, $m$

## Constructing DataFrames

Our simulated data is in *Long* format. How do we construct a *Long* dataframe?

In [4]:
i = df['i']
j = df['j']
y = df['y']
t = df['t']
bdf = bpd.BipartiteDataFrame(i=i, j=j, y=y, t=t)
display(bdf)

          i    j         y  t
0         0   63 -0.618350  0
1         0   63 -1.811602  1
2         0   63 -1.750508  2
3         0   63 -0.021734  3
4         0   63 -1.753123  4
...     ...  ...       ... ..
49995  9999  361 -0.263988  0
49996  9999  361 -0.472704  1
49997  9999  361  0.518493  2
49998  9999  361 -1.102591  3
49999  9999  361 -1.553183  4

[50000 rows x 4 columns]

Are we sure this is long? Let's check the datatype:

In [5]:
type(bdf)

bipartitepandas.bipartitelong.BipartiteLong

## Before we clean our data, let's check out some statistics

In [6]:
bdf.summary()

format: 'BipartiteLong'
number of workers: 10000
number of firms: 1000
number of observations: 50000
mean wage: -0.009399737891587488
median wage: -0.006301350921179505
min wage: -5.523671469790966
max wage: 5.922274960525396
var(wage): 2.6572896778352675
no NaN values: False
no duplicates: False
i-t (worker-year) observations unique (None if t column(s) not included): False
no returns (None if not yet computed): None
contiguous 'i' ids (None if not included): False
contiguous 'j' ids (None if not included): False
contiguous 'g' ids (None if not included): None
connectedness (None if ignoring connectedness): None

## Now let's clean our data - and make sure the result is leave-one-observation-out connected

Hint: want details on all cleaning parameters? Type `bpd.clean_params().describe_all()`, or search through `bpd.clean_params().keys()` for a particular key, and then type `bpd.clean_params().describe(key)`.

In [7]:
bpd.clean_params().describe_all()

KEY: 'connectedness'
CURRENT VALUE: None
VALID VALUES: one of ['connected', 'leave_out_observation', 'leave_out_spell', 'leave_out_match', 'leave_out_worker', 'leave_out_firm', None]
DESCRIPTION:
            (default=None) When computing largest connected set of firms: if 'connected', keep observations in the largest connected set of firms; if 'leave_out_observation', keep observations in the largest leave-one-observation-out connected set; if 'leave_out_spell', keep observations in the largest leave-one-spell-out connected set; if 'leave_out_match', keep observations in the largest leave-one-match-out connected set; if 'leave_out_worker', keep observations in the largest leave-one-worker-out connected set; if 'leave_out_firm', keep observations in the largest leave-one-firm-out connected set; if None, keep all observations.

KEY: 'component_size_variable'
CURRENT VALUE: 'firms'
VALID VALUES: one of ['len', 'length', 'firms', 'workers', 'stayers', 'movers', 'firms_plus_workers', 'firms_plus_stayers', 'firms_plus_movers', 'len_stayers', 'length_stayers', 'len_movers', 'length_movers', 'stays', 'moves']
DESCRIPTION:
        (default='firms') How to determine largest connected component. Options are 'len'/'length' (length of frames), 'firms' (number of unique firms), 'workers' (number of unique workers), 'stayers' (number of unique stayers), 'movers' (number of unique movers), 'firms_plus_workers' (number of unique firms + number of unique workers), 'firms_plus_stayers' (number of unique firms + number of unique stayers), 'firms_plus_movers' (number of unique firms + number of unique movers), 'len_stayers'/'length_stayers' (number of stayer observations), 'len_movers'/'length_movers' (number of mover observations), 'stays' (number of stay observations), and 'moves' (number of move observations).

KEY: 'i_t_how'
CURRENT VALUE: 'max'
VALID VALUES: one of type (<class 'builtin_function_or_method'>, <class 'function'>, <class 'method'>, <class 'str'>)
DESCRIPTION:
            (default='max') When dropping i-t duplicates: if 'max', keep max paying job; otherwise, take `how` over duplicate worker-firm-year observations, then take the highest paying worker-firm observation. `how` can take any input valid for a Pandas transform. Note that if multiple time and/or firm columns are included (as in collapsed long and event study formats), then data is converted to long, cleaned, then converted back to its original format.

KEY: 'drop_returns'
CURRENT VALUE: False
VALID VALUES: one of [False, 'returns', 'returners', 'keep_first_returns', 'keep_last_returns']
DESCRIPTION:
            (default=False) If 'returns', drop observations where workers leave a firm then return to it; if 'returners', drop workers who ever leave then return to a firm; if 'keep_first_returns', keep first spell where a worker leaves a firm then returns to it; if 'keep_last_returns', keep last spell where a worker leaves a firm then returns to it; if False, keep all observations.

KEY: 'drop_returns_to_stays'
CURRENT VALUE: False
VALID VALUES: one of type <class 'bool'>
DESCRIPTION:
            (default=False) Applies only if 'drop_returns' is set to False. If True, when recollapsing collapsed data, drop observations that need to be recollapsed instead of collapsing (this is for computational efficiency when re-collapsing data for leave-one-out connected components, where intermediate observations can be dropped, causing a worker who returns to a firm to become a stayer).

KEY: 'is_sorted'
CURRENT VALUE: False
VALID VALUES: one of type <class 'bool'>
DESCRIPTION:
            (default=False) If False, dataframe will be sorted by i (and t, if included). Returned dataframe will be sorted. Sorting may alter original dataframe if copy is set to False. Set is_sorted to True if dataframe is already sorted.

KEY: 'force'
CURRENT VALUE: True
VALID VALUES: one of type <class 'bool'>
DESCRIPTION:
            (default=True) If True, force all cleaning methods to run; much faster if set to False.

KEY: 'copy'
CURRENT VALUE: True
VALID VALUES: one of type <class 'bool'>
DESCRIPTION:
            (default=True) If False, avoid copying data when possible.

KEY: 'verbose'
CURRENT VALUE: True
VALID VALUES: one of type <class 'bool'>
DESCRIPTION:
            (default=True) If True, print progress during data cleaning.

In [ ]:
bdf = bdf.clean(bpd.clean_params({'connectedness': 'leave_out_observation'}))
display(bdf)

We can check how the summary statistics changed:

In [ ]:
bdf.summary()

## Converting formats

### *Collapsed* format

In [ ]:
display(bdf.collapse())

### *Event Study* format

In [ ]:
display(bdf.to_eventstudy())

### *Collapsed Event Study* format

In [ ]:
display(bdf.collapse().to_eventstudy())

## Generating firm clusters

Notice the new $g$ column

In [ ]:
display(bdf.cluster())